<%-include('../includes/header.ejs') %>
</head>
<%-include('../includes/navigation.ejs') %>
<main>
    <div class="container wraper">
        <div class="login">
            <h3 class="login__heading">Signup here</h3>
            <hr>
            <% if(errorMess !='' && errorMess != undefined) { %>
                <div class="error-mess">                   
                    <h4> <i class="fas fa-exclamation-circle"></i> <%= errorMess %></h4>
                </div>
            <% } %>
            <form action="/signup" method="POST" novalidate>
            
                <div class="form-group login__group">
                    <label for="name">email</label>
                    <input type="email" 
                            class="login__form form-control" 
                            name="email"
                            value="<%= email %>">
                </div>

                <div class="form-group login__group">
                    <label for="name">password</label>
                    <input type="password" 
                            class="login__form form-control" 
                            name="pass"
                            value="<%= pass %>">
                </div>

                 <div class="form-group login__group">
                    <label for="name">Confirm password</label>
                    <input type="password" class="login__form form-control" name="confirm_pass">
                </div>
                <button class="btn btn-danger" type="submit">Signup</button>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            </form>

        </div>
    </div>
</main>

<%-include('../includes/end.ejs') %>