
<%-include('../includes/header.ejs') %>
</head>
<%-include('../includes/navigation.ejs') %>

<main>
    <div class="container">
        <div class="panel">
            <div class="panel__info">
               
                <h3 class="panel__title">Edit product</h3>
                <a href="#" class="panel__deleteAll">
                    Delete all products
                </a>
            </div>
            <hr>
            <div class="panel__product">

            <% product.forEach(product=>{ %>
                
                <div class="panel__product-cart">
                    <img src="<%=product.imageUrl %>" alt="<%=product.title %>" class="panel__product-img">
                    <div class="panel__product-info">
                        <h3 class="panel__product-title">
                            <%=product.title %>
                        </h3>
                        <h5 class="panel__product-des">
                            <%=product.des %>
                        </h5>
                        <h4 class="panel__product-price">$<%=product.price %></h4>
                    </div>
                    <div class="panel__product-change">
                        <a href="/edit-product/<%= product._id %>?edit=true" class="panel__product-edit">
                            <i class="fas fa-pen-square panel__del--icon"></i>
                        </a>                                  
                       
                            <button class="panel__product-del" onclick="deleteFile(this)">
                                <i class="fas fa-times-circle  panel__edit--icon"></i>
                            </button>
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        
                    </div>
                </div>

            <%}) %>            
            </div>

        </div>
    </div>
</main>
    <script src="js/admin.js"></script>
<%-include('../includes/end.ejs') %>
