<%-include('../includes/header') %>
    
</head>

<body>
    <%-include('../includes/navigation') %>

    <main>
        <div class="container text-center">
        
            <form action="<%= editMode ? '/edit-product' : '/add-product' %>" method="POST" class="form" >
                <h3> <%= editMode? 'Update your product' : 'Add your new Product' %></h3>

                <% if(errorMess !='' && errorMess != undefined) { %>
                    <div class="error-mess">                   
                        <h4> <i class="fas fa-exclamation-circle"></i> <%= errorMess %></h4>
                    </div>
                <% } %>

                <div class="form__control">
                    <input type="text" 
                            name="title" 
                            class="form__product" 
                            placeholder="Title"
                            value="<%=editMode || hasError ? product.title : '' %>">
                </div>
                <div class="form__control">
                    <input type="text" 
                            name="imageUrl" 
                            class="form__product" 
                            placeholder="Image Url"
                            value="<%=editMode || hasError ? product.imageUrl : '' %>">
                </div>
                <div class="form__control">
                    <input type="number" 
                            step="0.01"
                            name="price" 
                            class="form__product" 
                            placeholder="Price"
                            value="<%=editMode || hasError ? product.price : '' %>">
                </div>
                <div class="form__control">
                    <textarea rows="4"  name="des" class="form__product" placeholder="Description" ><%=editMode || hasError ? product.des : '' %>
                    </textarea> 
                </div>
                <% if(editMode){ %>
                    <input type="hidden" name="productId" value="<%= product._id %>">
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="form__btn"><%=editMode ? 'Update' : 'Submit' %></button>
            </form>
        </div>
    </main>
    <%-include('../includes/end') %>