<header class="header">
        <nav class="header__nav">
            <ul class="header__nav-list container">                  
                
                <div class="header__left">
                    <li class="header__nav-item <%= path==='/' ? 'active' : '' %>"> 
                        <a href="/" class="header__nav-link">shop</a>
                    </li> 

                    <li class="header__nav-item <%= path==='/index-product' ? 'active' : '' %>"> 
                        <a href="/index-product" class="header__nav-link">Products</a>
                    </li>
                    </li>
                    
                    <li class="header__nav-item <%= path==='/cart' ? 'active' : '' %>"> 
                        <a href="/cart" class="header__nav-link">Cart</a>
                    </li>
                    <li class="header__nav-item <%= path==='/order' ? 'active' : '' %>"> 
                        <a href="/order" class="header__nav-link">Order</a>
                    </li>
                    

                </div>           
                
                <div class="header__right">
                    <div class="header__responsive">
                        <i class="fas fa-bars header__responsive-icon"></i>
                    </div>
                    
                    <div class="header__right-menu">  
                        <li class="header__nav-item <%= path==='/login' ? 'active' : '' %>"> 
                            <a href="/login" class="header__nav-link">Login</a>
                        </li>                     

                    </div>
                </div>
                         

            </ul>
        </nav>
    </header>