
<%-include('../includes/header.ejs') %>
</head>
<%-include('../includes/navigation.ejs') %>

<main>
    <div class="cart container">
        <div class="cart__heading">
            <h3 class="cart__title">Your cart</h3>
            <h2 class="cart__number">Total amount: $
                <span id="price">
                   <%= totalAmount %>
                </span>
            </h2>
        </div>
        <% if(items){%>
        <div class="table-responsive">
        
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">quatity</th>
                    <th scope="col">Delete your product</th>
                </tr>
                </thead>
                <tbody>
                <% items.forEach(item=> { %>
                    <tr>
                        <th scope="row"><%=item.productId._id %></th>
                        <td><%=item.productId.title %></td>
                        <td><%=item.qty %></td>
                        <td>
                            <form action="/delete-cart" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <input type="hidden" name="itemId" value="<%= item._id %>">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
        <% } else { %>
            <h3>nothing in your cart now!</h3>
        <% } %>

        <form action="/order" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-info" type="submit">Order now</button>
        </form>
    </div>
</main>

<%-include('../includes/end.ejs') %>