
<%-include('../includes/header.ejs') %>
</head>
<%-include('../includes/navigation.ejs') %>

<main>
    <div class="cart container">
        <div class="cart__heading">
            <h3 class="cart__title">Your cart</h3>
            <h2 class="cart__number">Total amount: $<%= cartTotalPrice %></h2>
        </div>
        <% if(cartProducts){%>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">title</th>
                    <th scope="col">quatity</th>
                    <th scope="col">Delete our cart</th>
                </tr>
                </thead>
                <tbody>
                <% cartProducts.forEach(product=> { %>
                    <tr>
                        <th scope="row"><%=product.id %></th>
                        <td><%=product.title %></td>
                        <td><%=product.qty %></td>
                        <td>
                            <form action="/delete-cart" method="POST">
                                <button type="submit" class="btn btn-danger">Delete</button>
                                <input type="hidden" name="productId" value="<%= product.id %>">
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h3>nothing in your cart now!</h3>
        <% } %>
    </div>
</main>

<%-include('../includes/end.ejs') %>