
<%-include('../includes/header.ejs') %>
</head>
<%-include('../includes/navigation.ejs') %>

<main>
    <div class="container">
    <br><br>
        <h3>Order here</h3><hr>
        <div class="order">

        <% orders.forEach(order=>{ %>

            <div class="order__card">
                <h4 class="order__number">Order# - <%= order._id.toString() %></h4>
                <div class="order__products">

                <% order.products.forEach(prod=>{ %>
                    <div class="order__each">
                        <h5 class="order__title"><%= prod.product.title %></h5>
                        <p><%= prod.qty %> item(s) </p>
                    </div>
                <% }) %>

                </div>
            </div>

        <% }) %>
        </div>

    </div>
</main>

<%-include('../includes/end.ejs') %>