
<%-include('../includes/header.ejs') %>

</head>

<body>
    
<%-include('../includes/navigation.ejs') %>

    <main>
        <% if(products.length > 0) {%>

        <div class="product container">

            <% products.forEach(product=>{ %>

            <div class="product__card">
                <h4 class="product__card-title">
                    <%=product.title %>
                </h4>
                <img src="<%=product.imageUrl %>" alt="<%=product.title %>" class="product__card-img">
                <div class="product__info">
                    <h3 class="product__card-price"><%=product.price %></h3>
                    <p class="product__card-content">
                        <%=product.des %>
                    </p>
                    <div class="product__navigation">                    
                        <!--<a class="product__cart-detail" href="/<%= product.seoTitle %>.<%= product.id %>">Detail</a>-->
                        <a class="product__cart-detail" href="/<%= product._id %>">Detail</a>
                        <%-include('../includes/add-to-cart.ejs',{product}) %>
                    </div>
                </div>
            </div>

            <% }) %>
        </div>

        <% } else { %>
        
            <h1 class="title--warning">
                there is no product here
            </h1>

        <% } %>
    </main>

<%-include('../includes/header.ejs') %>